<!DOCTYPE HTML>
<!--
ElecSoft Consulting. Taking care of all your web needs.
-->

<html>
	<head>
		<title>Courses ~ Elecsoft Consulting</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<h1><strong><a href="/">Elecsoft Consulting</a></strong></h1>
				<nav id="nav">
          <% if (admin) {%>
          <ul>
            <li><a href="/logout">Logout</a></li>
            <li><a href="/courses">Courses</a></li>
            <li><a href="/admin/adminDashboard">Dashboard</a></li>
            <li><a href="/admin/course">Add a Course</a></li>
            <li><a href="/admin/templates">Template Stuff</a></li>
            <li><p>Hello, admin!</p></li>
          </ul>

          <%} else {%>

          <ul>
          <li><a href="/#three">Services</a></li>
          <li><a href="/#two">Our Work</a></li>
          <li><a href="/#four">Contact Us</a></li>
        </ul>
          <% } %>
				</nav>
			</header>

			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major special">
						<h2>Courses</h2>
						<p>We offer courses on software testing and consulting.</p>
					</header>

					<a href="#" class="image fit"><img src="/images/learning.jpg" alt="" /></a>
          <% if (response.length >= 1) { %>
            <% if (!admin) { %>
              <% for(var i = 0; i < response.length; i ++) { %>
                <div id="<%= response[i].course_id %>">

                  <h3><strong><%= response[i].title %></strong></h3>

                  <strong>Date</strong>: <%= response[i].date_of_event %> <br> <strong>Event URL</strong>: <a href="<%= response[i].event_url %>">Click Here</a>

        					<p><%= response[i].event_description %></p>
                </div>
              <% } %>
            <% } else { %>
              <% for(var i = 0; i < response.length; i ++) { %>
                <div id="<%= response[i].course_id %>">

                  <h3><strong><%= response[i].title %></strong></h3>

                  <strong>Date</strong>: <%= response[i].date_of_event %> <br> <strong>Event URL</strong>: <a href="<%= response[i].event_url %>" target="_blank">Click Here</a>

                  <p><%= response[i].event_description %></p>
                  <ul class="actions">
                    <li><a class="button special" href="/admin/editCourse/<%= response[i].course_id %>">Edit</a></li>
                    <li><a class="button special" href="/admin/deleteCourse/<%= response[i].course_id %>" id="deleteButton">Delete</a></li>
                  </ul>
                </div>
                <div id="deleted"></div>
              <% } %>
            <% } %>
          <% } else { %>
            <div>
              <h3>Unfortunately we do not have any courses available right now. Check back with us soon!</h3>
            </div>
          <% } %>
				</div>
			</section>

		<!-- Footer -->
      <footer id="footer" style="background-color: #eee;">
        <div class="container">
          <ul class="icons">
            <li><a href="https://www.facebook.com" class="icon fa-facebook"></a></li>
            <li><a href="https://www.linkedin.com/" class="icon fa-linkedin"></a></li>
          </ul>
          <ul class="copyright">
            <li>&copy; ElecSoft Consulting. All right reserved.</li>
            <li>Images: <a href="http://unsplash.com">Unsplash</a></li>
          </ul>
        </div>
      </footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
